<footer class="bg-light text-center">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light rounded-circle text-dark"
        href="https://web.facebook.com"
        role="button"
        target="_blank"
        alt="facebook">
        <i class="bx bxl-facebook"></i>
      </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light rounded-circle text-dark"
        href="https://twitter.com"
        role="button"
        target="_blank"
        alt="twitter">
        <i class="bx bxl-twitter"></i>
      </a>

      <!-- Google -->
      <a class="btn btn-outline-light rounded-circle text-dark"
        href="https://www.google.com.br/"
        role="button"
        target="_blank"
        alt="google">
        <i class="bx bxl-google"></i>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light rounded-circle text-dark"
        href="https://www.instagram.com"
        role="button"
        target="_blank"
        alt="instragram">
        <i class="bx bxl-instagram"></i>
      </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light rounded-circle text-dark"
        href="https://www.linkedin.com/"
        role="button"
        target="_blank"
        alt="linkedin">
        <i class="bx bxl-linkedin"></i>
      </a>

    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3 foot-text text-white">&copy; Moda Feminina 2021  -
    <a class="text-white"
        href="https://github.com/camila-github"
        target="_blank"
        alt="github">
          Desenvolvido por Camila Augusta
    </a>
  </div>
</footer>
