<div class="row">
  <div class="col-lg-4 col-md-6 mb-4"
   *ngFor="let product of productList">

      <div class="card h-100">
        <a routerLink="product/{{ product.id }}">
          <img class="card-img-top" src="{{ product.productImg }}">
        </a>

        <div class="card-body">
          <h4 class="card-title">
            <a routerLink="product/{{ product.id }}">{{ product.productName }}</a>
          </h4>

          <h5> R$ {{ product.price }} {{ product.offer }}</h5>
          <p class="card-text">{{ product.description }}</p>
        </div>

        <div class="card-footer">
          <small class="text-danger"> Stars: {{ product.rating }}
            <app-star [rating]="product.rating"></app-star>
          </small>
        </div>
      </div>
  </div>
</div>
<!-- /.row -->
