<form (submit)="addNewProduct(addProductForm)"
      #addProductForm="ngForm"
      class="mb-4">

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom01">
            Nome do produto
      </label>
      <input type="text"
            class="form-control"
            value=""
            required name="product_name"
            ngModel
      >
    </div>

    <div class="col-md-6 mb-3">
      <label for="validationCustom02">
            ID da Catergoria
      </label>
      <input type="text"
            class="form-control"
            value=""
            required name="product_category"
            ngModel
      >
    </div>
  </div>


  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom03">
            Cor do produto
      </label>
      <input type="text"
            class="form-control"
            id="validationCustom03"
            required name="product_color"
            ngModel
      >
    </div>
    <div class="col-md-6 mb-3">
      <label>Preço do produto</label>
      <input type="text"
            class="form-control"
            name="product_price"
            required ngModel
      >
    </div>
  </div>


  <div class="form-row">
      <label for="validationCustom03">
            Descrição
      </label>
      <textarea class="form-control"
              placeholder="Enter Product Description"
              required name="product_description"
              rows="3"
              ngModel>
      </textarea>
  </div>
  <br>

  <div class="form-row">
      <label>Avaliação do Produto</label>
      <select class="custom-select" required name="product_rating" ngModel>
        <option selected value="">Escolha uma opção...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
  </div>
  <br>

  <div class="form-row">
      <label>Tem em Estoque?</label>
      <select class="custom-select"  required >
        <option selected value="">Escolha uma opção...</option>
        <option value="1">Sim</option>
        <option value="0">Não</option>
      </select>
  </div>
  <br>

  <button class="btn btn-primary" type="submit">Salvar</button>
</form>


